<section id="features">

    <h2>Benefit from our various amneties.</h2>

    <div class="placeToGo">

        <h3>Restaurant</h3>
        <p>Lorem Ipsum sit Amet
            <br /> consectetur adipiscing elit.
            <br /> Donec eu. </p>
    </div>

    <div class="placeToGo">
        <h3>Pool</h3>
        <p>Lorem Ipsum sit Amet
            <br /> consectetur adipiscing elit.
            <br /> Donec eu. </p>
    </div>

    <div class="placeToGo">
        <h3>Airport pickup and drop</h3>
        <p>Lorem Ipsum sit Amet
            <br /> consectetur adipiscing elit.
            <br /> Donec eu. </p>
    </div>

    <div class="placeToGo">

        <h3>Serene scenery</h3>
        <p>Lorem Ipsum sit Amet
            <br /> consectetur adipiscing elit.
            <br /> Donec eu. </p>
    </div>

    <div class="placeToGo">

        <h3>In-house laundary</h3>
        <p>Lorem Ipsum sit Amet
            <br /> consectetur adipiscing elit.
            <br /> Donec eu. </p>
    </div>

    <div class="placeToGo">
        <h3>24*7 Wifi </h3>
        <p>Lorem Ipsum sit A*met
            <br /> consectetur adipiscing elit.
            <br /> Donec eu. </p>
    </div>

</section>
<footer class="footer">
    <div class="footerContainer">
        <div>
            <div>
                <p class=" text">
                    <strong>© 2021 HMS Hotel Group.</strong> All rights reserved. RHG HMS Hotel Group, HMS, HMS RED, HMS Blu, HMS Collection, HMS Individuals, Park Plaza, Park Inn, Country Inn &amp; Suites, prizeotel, HMS Rewards, and HMS Meetings are
                    trademarks of HMS Hotel Group. </p>
            </div>
        </div>
    </div>
</footer>